


@font-face {
    font-family: 'oxygensansextra-light';
    src: url('oxygen-sans-extra-light-x.eot');
    src: url('oxygen-sans-extra-light-x.eot?#iefix') format('embedded-opentype'),
         url('oxygen-sans-extra-light-x.woff') format('woff'),
         url('oxygen-sans-extra-light-x.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'oxygen';
    src: url('http://www.cloud-fonts.com/fonts/oxygen/oxygen-bold.eot');
    src: url('http://www.cloud-fonts.com/fonts/oxygen/oxygen-bold.eot?#iefix') format('embedded-opentype'),
         url('http://www.cloud-fonts.com/fonts/oxygen/oxygen-bold.woff') format('woff'),
         url('http://www.cloud-fonts.com/fonts/oxygen/oxygen-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}



@font-face {
    font-family: 'oxygen';
    src: url('http://www.cloud-fonts.com/fonts/oxygen/oxygen-regular.eot');
    src: url('http://www.cloud-fonts.com/fonts/oxygen/oxygen-regular.eot?#iefix') format('embedded-opentype'),
         url('http://www.cloud-fonts.com/fonts/oxygen/oxygen-regular.woff') format('woff'),
         url('http://www.cloud-fonts.com/fonts/oxygen/oxygen-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oxygenmono';
    src: url('oxygenmono-regular.eot');
    src: url('oxygenmono-regular.eot?#iefix') format('embedded-opentype'),
         url('oxygenmono-regular.woff') format('woff'),
         url('oxygenmono-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
