<!-- START MAIN HEADER -->

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="mainheader">
            <img style="margin-bottom:1px;padding:12px 0px 12px 0px" src="assets/images/black42042.png">
                <span style="line-height:0;font-family:'oxygensansbold';font-size:1.9em;vertical-align:middle;">OXYGEN
                    FONT</span>
                <span style="vertical-align:middle;line-height:0;margin-left:3px;font-family:'oxygensansbook';font-size:1em;">
                    a typeface for the Gnu/Linux UI</span>
                </div> <!-- mainheader -->
    </div> <!-- columns -->
</div> <!-- row -->

<!-- END MAIN HEADER -->