<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
            <link href="stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
                <link href="assets/fonts/fonts.css" rel="stylesheet" type="text/css">
                    <meta http-equiv="X-UA-Compatible" content="chrome=1">
                        <meta name="description" content="Oxygen font family">
                            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
                                <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
                                    <title>Oxygen Font</title>
                                    </head>
    <body style="background-color:rgb(210, 213, 210);">
        
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    
                    