<!DOCTYPE html>
<html>
    <head>
		<link href="http://cloud-fonts.com/format.php?font=Oxygen" rel="stylesheet" type="text/css">
		        <meta content="text/html; charset=utf-8" http-equiv="content-type">
            <link href="stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
                <!-- <link href="assets/fonts/fonts.css" rel="stylesheet" type="text/css"> -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
                        <meta name="description" content="Oxygen font family">
                            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
                                <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
                                    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">

                                    <title>Oxygen Font</title>
                                    </head>
    <body style="background-color:#a0a7b0">
        
        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">

                    
