<div class="readme row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
<!-- TEXT -->

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

     <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/><a id="indiegogo">Kickstarter Funding</a></p>
 
 <div class="inset">
     The aim is to fund the development of Oxygen Font to reach a full and quality finish</div>
 
 
 <p>Oxygen Font has so far been in progress as a part-time project, so the whole font family is still at a beta stage, but with great potential for the next finishing stages.</p>
 <p>A finishing stage of development is now planned
 with the help of support by crowd funding via <i>Kickstarter.</i> With this funding the
 Oxygen fonts can be fully developed and completed to reach a quality finish.</p>
 </div>

 <!-- NEW COLUMN -->


 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
     <div class="inset_funding_top">
         <img class="img-responsive" src="assets/images/kickstarter-logo-dark.png"/></div>
     <div class="inset_funding">
         Help fund Oxygen Font on Kickstarter now...
         <p>The Oxygen Font Indiegogo campaign offers some great perks to funders, such as exclusive full color Oxygen Fonts specimen books, posters and original artworks.</p>
         Check out the bounty here...</div>


 
    </div>

<!-- END TEXT -->
 
 
 </div>
</div>
