<div class="readme row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>Legibility and Function</p>
        <p>The Oxygen fonts are designed to
        function well on various types and sizes of digital screens.
        <div class="inset">
Free, functional, clean, uncluttered...</div>
        The fonts
        are designed to be functional, clean, straightforward and uncluttered, but with
        enough stylistic detail to be distinctive at larger sizes.
        </p>
                        <p>The fonts have a relatively large x-height that enables text to be clear and readable at standard desktop UI text sizes, even under lesser display options, or when viewed on small handheld devices. </p>
                        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
<img class="img-responsive" src="assets/images/specME.png"/>
                        </div>
<p><i>(above)</i> Uppercase characters are given details of interest by angling terminals and vertical stems. This also adds areas of tension and breaks any strict horizontal and vertical structure in the face.</p>
<p><img class="img-responsive" src="assets/images/BRP.png"/></p>

<p><i>(above)</i> Uppercase horizontal stems on certain uppercase characters, such as 'B', 'D', 'P' and 'R', are slightly curved to introduce some 'warmth' to the overall feel of the typeface.</p>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<img class="img-responsive" src="assets/images/specs_details.png"/>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<img class="img-responsive" src="assets/images/specs_bgdp.png"/>
</div>

<p><i>(above)</i> Repetion of forms in the lowercase characters build strong identifying features throught the typeface when in use.</p>


<br><br>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <br><br>
                
                <p><i>(below)</i> The underlying structure of the characters follows the basic directional structure of handritten text.</p>
                <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
<img class="img-responsive" src="assets/images/spec_bjugt.png"/>
</div>
                
                <p><img class="img-responsive" src="assets/images/specRel.png"/></p>

                <p><img class="img-responsive" src="assets/images/specs_chops.png"/></p>
        
        
    </div>
</div>