<div class="readme row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/><a id="specs">Oxygen as a Webfont</a></p>
        <p>An early version of Oxygen Font was released as part of the Google Fonts project. </p>
      </div>
        



<!-- end specs -->
</div>

<div class="readme row">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p><img class="img-responsive"src="assets/images/oxygenWebfont.png"/></p>
        <p>Oxygen fonts have a relatively large x-height <i>(above</i>) that enables text to be clear and readable at standard desktop UI text sizes, even on small screens and under lesser display options, or when viewed on small handheld devices. </p>
    </div>

</div>
