<div class="readme row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>Legibility and Function</p>
        <p>The Oxygen fonts are designed to
        function well on various types and sizes of digital screens.
        <div class="inset">
Free, functional, clean, uncluttered...</div>
        The fonts
        are designed to be functional, clean, straightforward and uncluttered, but with
        enough stylistic detail to be distinctive at larger sizes.
        </p>
        <p><img class="img-responsive" src="assets/images/specME.png"/></p>
<p><i>(above) Uppercase characters are given details of interest by angling terminals and vertical stems. This also adds areas of tension and breaks any strict horizontal and vertical structure in the face.</i></p>
        <p><img class="img-responsive" src="assets/images/spec1.png"/></p>

        <p><i>(above) Uppercase horizontal stems on certain uppercase characters, such as 'B', 'D', 'P' and 'R', are slightly curved to introduce some 'warmth' to the overall feel of the typeface.</i></p>
<br><br>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <br>
                <p><img class="img-responsive" src="assets/images/specRel.png"/></p>
                <p>The fonts have a relatively large x-height that enables text to be clear and readable at standard desktop UI text sizes, even under lesser display options, or when viewed on small handheld devices. </p>
                <p><img class="img-responsive" src="assets/images/specbjut.png"/></p>
        <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>GNU/Linux Native</p>
        <p>The Oxygen Fonts have been developed 'natively' on
        GNU/Linux systems, mainly using FontForge. This has allowed the
        fonts to be developed closely with Freetype's render and hinting
        engines, so that the fonts can be optimised with the pixel grid
        fitting on Freetype based OS's such as the various GNU/Linux
        and similar systems, including Chrome OS and Android.</p>
        <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>Getting Oxygen Fonts</p>
        <div class="inset_download">
            Download OxygenFonts.zip</div>
        <p>The Oxygen fonts can be
        downloaded as font files, or you can clone and pull the whole
        development repository from github.</p>
        <br><br>
    </div>
</div>