 <div class="row-fluid">
 <div class="span6">
<p style="font-family:'Roboto'">The Oxygen fonts are a free typeface family developed for use with the KDE desktop and GNU+Linux systems in general to extend the choice of UI type families available for Free Software desktops and devices.</p>

</div>
<div class="span6">
<p style="font-family:'Roboto'">The Oxygen Fonts are published under the Open Font License and the Gnu Public License.</p>
<p style="font-family:'Roboto'">These licenses ensure that the fonts are freely available to all.</p>
</div>
</div>
<hr>
<div class="row-fluid">
<div class="span12">
<p style="font-size:3em;color:#555;line-height:1em">abcdefghijklmnopqrstuvwxyz</p>
<p style="font-size:3em;color:#777;line-height:1em">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>

</div>
</div>
<hr>