<div class="readme row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
 <p class="lead-in">About Oxygen Font</p>
        <p>The Oxygen font is a Free Software typeface family being
        developed for use with the KDE desktop and other GNU/Linux user
        interfaces. The aim is to expand the choice of fonts suitable for use with Free Software desktops and devices.</p>
        <p> The Oxygen fonts are being developed in various weights and
        includes the development of 'Oxygen Mono', a monospaced font for
        use in terminals and for coding.</p>
        
        <p class="lead-in">Free Software</p>
        <p>The Oxygen Fonts are published under the Open Font License and
        the Gnu Public License. These licenses ensure that the fonts are
        freely available to all. The fonts can be downloaded, printed in
        commercial and non-commercial works, served as webfonts,
        embedded in documents, software and hardware, and shared and
        distributed freely. </p>
        </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        
        <p class="lead-in">Funding Roadmap</p>
        <p>The Oxygen Fonts have been
        slowly under development for over 12 months. It is now planned
        to raise development funding via <i>indiegogo</i> so that the
        fonts can be developed further and completed with
        concentrated quality effort.</p>
        <p> Six weights of Oxygen Sans are planned; Thin, Light, Regular, Medium, Bold, Heavy, plus
        italics, and two weights of Oxygen Mono; Regular and Bold.</p>
        <p>Another aim of the next phase
        of the development of the Oxygen Fonts is to provide
        unicode support for full Latin, Cyrillic and Greek scripts. </p>
        <p>To help fund Oxygen Fonts go to the Indiegogo page here.</p>
        <p>Indiegogo campaign offers great bounty to funders, such as full color Oxygen specimen books, page here.</p>
        
    </div>
</div>