<div class="readme row">

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

<p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>GNU/Linux Native</p>
<p>The Oxygen Fonts have been developed 'natively' on
GNU/Linux systems, mainly using FontForge. This has allowed the
fonts to be developed closely with Freetype's render and hinting
engines, so that the fonts can be optimised with the pixel grid
fitting on Freetype based OS's such as the various GNU/Linux
and similar systems, including Chrome OS and Android.</p>
</div>


<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    
    <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>Getting Oxygen Fonts</p>
    <div class="inset_download">
        Download OxygenFonts.zip</div>
    <p>The Oxygen fonts can be
    downloaded as font files, or you can clone and pull the whole
    development repository from github.</p>
</div>


</div>
