<div class="readme row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
 <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>About Oxygen Font</p>

        <p>The Oxygen font is a new typeface family being
        developed for use with the KDE desktop and other GNU/Linux user
        interfaces.</p>
        <p>The aim designing the Oxygen Fonts is to create a new high quality font family for the GNU/Linux communities expand the choice of fonts suitable for use with Free Software desktops and devices.</p>
        <div class="inset">
            A new font for Free Desktops and GUIs
        </div>
        <p> The Oxygen fonts are being developed in wide range of weights
        including the development of 'Oxygen Mono', a monospaced font for
        use in terminals and for coding.</p>

        <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>Free Software</p>
        <p>The Oxygen Fonts are published under the Open Font License and
        the Gnu Public License. These licenses ensure that the fonts can be shared and
        distributed freely by everyone. The fonts can be downloaded, printed in
        commercial and non-commercial works, served as webfonts,
        embedded in documents, software and hardware.</p>
        <p>Oxygen Fonts are designed to be as free as possible.</p>
        </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        
        <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>Funding & Roadmap
        </p>
        <p>The Oxygen Fonts have been
        in progress for over 12 months.</p>
        <p>It is now planned
        to raise development funding via the crowd funding site <i>indiegogo,</i> so that the
        fonts can be completed with
        concentrated quality effort.</p>
        <p> Six weights of Oxygen Sans are planned; Thin, Light, Regular, Medium, Bold, Heavy, plus
        italics, and two weights of Oxygen Mono.</p>
        <p>Another aim of the next phase
        of the development of the Oxygen Fonts is to provide
        unicode support for full Latin, Cyrillic and Greek scripts. </p>
        <div class="inset">
Help fund Oxygen Fonts on Indiegogo now!
        <p>The Oxygen Font Indiegogo campaign offers some great perks to funders, such as exclusive full color Oxygen specimen books, posters and original artworks.</p>
        Check out the bounty perks here...</div>
        
        
    </div>
</div>