<div class="readme row">
    
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
        <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/><a id="inset_download">Getting Oxygen Fonts</a></p>
              <p>The Oxygen fonts can be
        downloaded as font files, or you can clone and pull the whole
        development repository from github.</p>
        <div class="inset_download col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <a href="http://www.cloud-fonts.com/fonts/oxygen.zip">Download OxygenFonts.zip</a></div>
            <div class="inset_download col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <a href="https://github.com/vernnobile/oxygenFont">Go to Oxygen Fonts @ GitHub</a></div>
  
    </div>
    
    
</div>
