
<div class="readme row">
    
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <p class="lead-in">Legibility and Function</p>
    <p>The Oxygen fonts are designed to
    render well on various types and sizes of digital screens, from smart phone screens, to handheld tablets, netbooks, laptops, large desktop monitors, and television screens.
        The fonts
    are designed to be functional, clean, straightforward and uncluttered, but with
    enough stylistic detail to be distinctive at larger sizes.
    </p>
<p><i>(below)</i> Uppercase characters are given details of interest by angling terminals and vertical stems. This also adds areas of tension and breaks any strict horizontal and vertical structure in the face.</p>
 </div></div>
<div class="readme row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<img class="img-responsive" src="assets/images/specME.png"/>
</div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
</div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

<p><img class="img-responsive" src="assets/images/BRP.png"/></p>
</div>
<p><i>(above)</i> The horizontal stems on uppercase characters such as 'B', 'D', 'P' and 'R', are slightly curved to introduce some 'warmth' to the overall feel of the typeface.</p>

    <p><i>(below)</i> The repetition of stem terminal forms, and the repetition of bowl counters in the lowercase characters builds strong identifying features throught the typeface.</p>
    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">

<img class="img-responsive" src="assets/images/specs_details.png"/>
<img class="img-responsive" src="assets/images/specs_bgdp.png"/>
</div></div>




    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <br><br>
        
                    <p>The underlying structure of the characters follows the basic directional structure of handritten text, whilst being built upon a strong geometric skeleton <i>(below)</i> </p>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<img class="img-responsive" src="assets/images/spec_bjugt.png"/>
</div>
                
                <p><img class="img-responsive" src="assets/images/specRel.png"/></p>
        
        
    </div>
</div>