 <div class="row-fluid">
 <div class="span6">
<p class="lead">About Oxygen Fonts</p>
<p style="font-family:'Roboto'">The Oxygen fonts are a Free Software typeface family being developed for use with the KDE desktop and GNU+Linux systems in general. The aim is to extend the choice of UI type families available for Free Software desktops and devices.</p>
<p style="font-family:'Roboto'"> The Oxygen fonts are being developed in various weights and includes the development of 'Oxygen Mono', a monospaced font for use in terminals and for coding.</p>
</div>
<div class="span6">
<p class="lead">Free Software</p>
<p style="font-family:'Roboto'">The Oxygen Fonts are published under the Open Font License and the Gnu Public License. These licenses ensure that the fonts are freely available to all. The fonts can be downloaded, printed in commercial and non-commercial works, served as webfonts, embedded in documents, software and hardware, and shared and distributed freely. </p>
</div>
<div class="span6">
<p class="lead">Roadmap</p>
<p style="font-family:'Roboto'">The Oxygen Fonts have been slowly under development for over 12 months. </p>
</div>