<div class="readme row">
    <div style="padding-left:21px"><p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/><a id="roadmap">Development Roadmap</a>
        </p></div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
       
        
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="progTextWhite">Regular Weight</span>
    </div><span class="progText">80%</span></div>

<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="progTextWhite">Bold Weight</span>
    </div><span class="progText">80%</span></div>

<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span class="progTextWhite">Other Weights</span>
    </div><span class="progText">50%</span></div>
    
</div>
    
    
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        
        
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"><span class="progTextWhite">Monospace Version</span>
            </div><span class="progText">70%</span></div>
        
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="progTextWhite">Icons</span>
            </div><span class="progText">10%</span></div>
        
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="progTextWhite">Cyrillic Set</span>
            </div><span class="progText">40%</span></div>
        
    </div>
    
    
    </div>

