 <div class="row">
 <div class="col-lg-12" style="background-color:#fff;margin: 0 15px -8px 15px">
<p class="lead-in">About Oxygen Font</p>
<p style="font-size:0.9em;font-family:'oxygensansbook'">The Oxygen font is a Free Software typeface family being developed for use with the KDE desktop and other GNU/Linux User Interface systems. The aim is to expand the choice of UI type families available for Free Software desktops and devices.</p>
<p style="font-size:0.9em;font-family:'oxygensansbook'"> The Oxygen fonts are being developed in various weights and includes the development of 'Oxygen Mono', a monospaced font for use in terminals and for coding.</p>
<p class="lead-in">Legibility and Function</p>
<p style="font-size:0.9em;font-family:'oxygensansbook'">The Oxygen fonts are designed primarily for optimised functionality on various types and sizes of screens. The fonts are designed to be functional; spartan and uncluttered, but with enough stylistic detailing to add distinction at larger sizes. Part of the brief in designing the Oxygen Fonts is that they could also be used for print and web 'branding' of free desktops.</p>
<p style="font-size:0.9em;font-family:'oxygensansbook'">The large x-height (above) ensures that text is clearly readable at standard desktop UI text sizes, even under lesser display options, or when viewed on small handheld devices.
</p>
<p class="lead-in">Free Software</p>
<p style="font-size:0.9em;font-family:'oxygensansbook'">The Oxygen Fonts are published under the Open Font License and the Gnu Public License. These licenses ensure that the fonts are freely available to all. The fonts can be downloaded, printed in commercial and non-commercial works, served as webfonts, embedded in documents, software and hardware, and shared and distributed freely. </p>

<p style="font-size:0.9em;font-family:'oxygensansbook'">The Fonts have been predominantly developed 'natively' on GNU+Linux systems, mainly using FontForge. This has allowed the fonts to be developed closely with Freetype's render and hinting engines, so that the fonts can be optimised with the pixel grid fitting on Freetype based OS's such as the various GNU+Linux systems, including Chrome OS and Android.</p>

<p class="lead-in">Roadmap</p>
<p style="font-family:'oxygensansbook'">The Oxygen Fonts have been slowly under development for over 12 months. It is now planned to raise development funding via <i>indiegogo</i> so that the fonts can be developed further and completed in a more concentrated effort.</p>
<p style="font-family:'oxygensansbook'">
Six weights of Oxygen Sans are planned; Thin,Light,Regular,Medium,Bold,Heavy, plus italics, and two weights of Oxygen Mono;00 Regular and Bold</p>

<p class="lead-in">Non Latin Support</p>
<p style="font-family:'oxygensansbook'">An aim of the next phase of the development of the Oxygen Fonts is to provide full support for Cyrillic and Greek scripts. </p>

<p class="lead-in">Getting Oxygen Fonts</p>
<p style="font-family:'oxygensansbook'">The fonts can be downloaded as font files, or you can clone and pull the whole development repository from github.</p>
</div></div>