<div class="readme row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<! -- section -->

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/><a id="legibility">About Oxygen Font</a></p>
    

        <p>Oxygen Font is a new typeface family being
        developed for use with the KDE desktop and other GNU/Linux user
        interfaces.</p>
        <div class="inset">
            <!-- <img class="img-responsive" src="assets/images/screens.png"/> -->
            A new font for Free Desktops and GUIs on phones, tablets, laptops, workstations and TV's.
        </div>
        <p>The aim of designing the Oxygen fonts is to create a new, high quality font family for the GNU/Linux communities and to expand the choice of fonts suitable for use with Free Software desktops and graphical interfaces.</p>
         <p>The Regular and Bold weights, and the regular Monospace version, are all in a functional state, so please use them, test and feedback.</p>
</div>


<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/><a id="Libre">Why is it Free?</a></p>

<p>A Free font is able to be used by anyone, on any device, without being stopped pay-walls or restrictive licenses.</p>
<p>The Oxygen fonts are designed to be used and shared without restriction, for any purpose.</p>
<p>The fonts are published under both the Open Font License and
        the Gnu Public License. These licenses ensure that the fonts can be used, shared, and altered freely, by everyone.</p>
        <p>The fonts can be downloaded, printed in
        commercial and non-commercial works, served as webfonts,
        and embedded in documents, software and hardware.</p>
        </div>


<! -- END section -->

</div>

    </div>
