<div class="readme row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
 <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>About Oxygen Font</p>

        <p>Oxygen Fonts are a new typeface family being
        developed for use with the KDE desktop and other GNU/Linux user
        interfaces.</p>
        <p>The aim of designing the Oxygen Fonts is to create a new, high quality font family for the GNU/Linux communities and to expand the choice of fonts suitable for use with Free Software desktops and graphical interfaces.</p>
        <div class="inset">
            <img class="img-responsive" src="assets/images/screens.png"/>
            A new font for Free Desktops and GUIs on phones, tablets, laptops, workstations and TV's.
            
        </div>


        <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>Free and Libre Software</p>
        <p>Oxygen Fonts are designed to be used and shared without restriction, for any purpose.</p>

        <p>The Fonts are published under both the Open Font License and
        the Gnu Public License. These licenses ensure that the fonts can be shared and
        distributed freely by everyone.</p>
        <p>The Oxygen Fonts can be downloaded, printed in
        commercial and non-commercial works, served as webfonts,
        and embedded in documents, software and hardware.</p>
        </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        
        <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>Indiegogo Funding and Roadmap
        </p>
        <div class="inset">
            The aim is to fund the Oxygen Fonts now to reach a full and high quality finish</div>
        <p> The Oxygen fonts are being developed in a wide range of weights
        including the development of 'Oxygen Mono', a monospaced font for
        use in terminals and for coding.</p>
        
        <p>The Oxygen Fonts have so far been in progress as a part-time project, so the whole font family is still at a beta stage.</p>
        
       
        
        <p>The Regular and Bold weights, and the regular Monospace version, are all in a functional state, so please use them, test and feedback.</p>
        <p>A finishing stage of development is now planned
        with the help of support by crowd funding via <i>indiegogo.</i> With this funding the
        Oxygen fonts can be fully developed and completed to reach a quality finish.</p>
        <div class="inset_funding_top">
            <img style="width:40%" class="img-responsive" src="http://www.indiegogo.com/assets/igg_logo_color_print_white_h.jpg"/></div>
        <div class="inset_funding">
            Help fund Oxygen Fonts on Indiegogo now!
            <p>The Oxygen Font Indiegogo campaign offers some great perks to funders, such as exclusive full color Oxygen specimen books, posters and original artworks.</p>
            Check out the bounty here...</div>
        
        <p> Six weights of Oxygen Sans are planned; Thin, Light, Regular, Medium, Bold, Heavy, plus
        italics, and two weights of the monospaced version, Oxygen Mono.</p>
        <p>Another aim of the next phase
        of the development of the Oxygen Fonts is to provide
        increased unicode support for both Latin and Cyrillic, plus support for a range of web and GUI icons. </p>
        
                    
            

        
</div>

    </div>
