<div class="readme row">

<div class="sectionStart">
    <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/><a id="legibility">GNU/Linux Native</a></p>
</div>

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">



<p><img class="img-responsive" src="assets/images/openbox1.png"/></p>

</div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    
<p>The Oxygen Fonts are being developed 'natively' on
GNU/Linux systems, mainly using FontForge.</p>

<p>Developing with FontForge allows the
fonts to be developed closely with Freetype's render and hinting
engines, so that the fonts can be optimised for the pixel grid
fitting on Freetype based OS's such as the various GNU/Linux
and similar systems, including Chrome OS and Android.</p>

</div>

</div>
