<div class="readme row">
    
    
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <p class="lead-in"><img style="height:10px"src="assets/images/arrow.png"/>KDE and Oxygen Project</p>
        <p>The initial inspiration for the development of Oxygen Fonts was the idea of an integral font family for the Oxygen theme of the KDE desktop environment.</p>
        
        <div class="inset">
            functional, clean, uncluttered...</div>
        
        <p>Taking it's cue from the Oxygen theme, the Oxygen Font aimed at being clean, practical and focussed, with a twist of elegance. The weight of the regular Oxygen font is slightly lighter than generally found in UI fonts, to help achieve this look and feel.</p>
    </div>
    
    <!-- -->
    
    
    
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" style="padding:0px 44px 0px 44px">
        <br>
        
        <p><img class="img-responsive" src="assets/images/kde1.png"/></p>
        
    </div>
</div>
