<!-- SLIDER START -->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- START CAROUSEL -->
        <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0"
                    class="active"><br>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="1"><br>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="2"><br>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="3"><br>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="4"><br>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="5"><br>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="6"><br>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="7"><br>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="8"><br>
                </li>
                
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <!-- -->
                <div class="item active"> <img class="img-responsive" src="assets/images/screenB.png"
                    alt="...">
                    <div class="carousel-caption"></div>
                    </div>
                <!-- -->
                <div class="item"> <img class="img-responsive" src="assets/images/screen4.png"
                    alt="...">
                    <div class="carousel-caption">
                    </div>
                    </div>
                
                <div class="item"> <img class="img-responsive" src="assets/images/screen5.png"
                    alt="...">
                    <div class="carousel-caption"></div>
                    </div>
                <div class="item"> <img class="img-responsive" src="assets/images/screen6.png"
                    alt="...">
                    <div class="carousel-caption"></div>
                    </div>
                <div class="item"> <img class="img-responsive" src="assets/images/screen7.png"
                    alt="...">
                    <div class="carousel-caption"></div>
                    </div>
                <div class="item"> <img class="img-responsive" src="assets/images/screen1.png"
                    alt="...">
                    <div class="carousel-caption"></div>
                    </div>
                <div class="item"> <img class="img-responsive" src="assets/images/screen9.png"
                    alt="...">
                    <div class="carousel-caption"></div>
                    </div>
                    <div class="item"> <img class="img-responsive" src="assets/images/screenA.png"
                    alt="...">
                    <div class="carousel-caption"></div>
                    </div>
                    <div class="item"> <img class="img-responsive" src="assets/images/screen8.png"
                    alt="...">
                    <div class="carousel-caption"></div>
                    </div>
                    
                
            </div> <!-- carousel-inner -->

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic"
                    data-slide="prev">
                    <span class="icon-prev"></span> </a> <a class="right carousel-control"
                        href="#carousel-example-generic"
                        data-slide="next">
                        <span class="icon-next"></span> </a>
                    <!-- END Controls -->
</div> <!-- carousel slide -->
            <!-- END CAROUSEL -->
        </div> <!-- columns -->
    </div> <!-- row -->
<!-- SLIDER END -->
