<div class="row-fluid">
<div class="span12 specimen">
<p style="letter-spacing:-3px;line-height:1em;font-size:6.5em;">Boating Pointed!</p>
<p style="letter-spacing:-2px;line-height:1.2em;font-size:3.8em;">Enthrones Concrete Musk Oil</p>
<p style="line-height:1.2em;font-size:2.2em;">Generally Acceptable Reactive Conference</p>
<p style="font-size:1.4em;">Oxygen is a member of the chalcogen group on the periodic table</p>
<p style="font-size:0.9em;">Oxygen is a member of the chalcogen group on the periodic table and is a highly reactive nonmetallic element that readily forms compounds (notably oxides) with most elements except the noble gases Helium and Neon. Oxygen is a strong oxidizing agent and only fluorine has greater electronegativity</p>
</div>
</div>
