<div class="row-fluid">
<div class="span6 specimen">
<p style="font-size:6em;">Boden</p>
<p style="font-size:4.1em;">POINTED</p>
<p style="font-size:3.7em;">Enthrones</p>
<p style="font-size:3.38em;">CONCRETE</p>

</div>
<div class="span6 specimen">
<p style="font-size:2.3em;">Generally Acceptable Reactive Conference</p>

</div>
<div class="span6 specimen2">
<p style="font-size:1.0em;">Oxygen is a member of the chalcogen group on the periodic table and is a highly reactive nonmetallic element that readily forms compounds (notably oxides) with most elements except the noble gases Helium and Neon. Oxygen is a strong oxidizing agent and only fluorine has greater electronegativity</p>
</div>
</div>
