<!-- START MENU -->
    <div class="pull-right row">
    <div class="">
        <div class="top_menu">
            <button class="btn btn-success"><a href="https://github.com/vernnobile/oxygenFont"><i class="fa fa-github-square fa-lg fa-inverse"></i></button>
            <button class="btn btn-pinterest"><a href="http://www.pinterest.com/newtypo/oxygen-fonts/"><i class="fa fa-pinterest fa-lg fa-inverse"></i></a></button>
            <button class="btn btn-tumblr"><i class="fa fa-tumblr fa-lg fa-inverse"></i></button>
        </div> <!-- top_menu -->
    </div> <!-- columns -->
</div> <!-- row -->

<div class="pull-left row">
    <div class="">
        <div class="top_menu">
            <button type="button" class="left_btn"><a
            href="index.html">home</a></button>
        <button type="button" class="mid_btn_white"><a href="#specs">specs</a></button>
        <button type="button" class="mid_btn_dark"><a href="indiegogo.html">indiegogo</a></button>
        <button type="button" class="mid_btn_white"><a>github</a></button>
        <button type="button" class="right_btn"><a href="#inset_download">downloads</a></button>
        </div> <!-- top_menu -->
    </div> <!-- columns -->
</div> <!-- row -->


<!-- END MENU -->