<!-- START MENU -->

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="top_menu"> <button type="button" class="left_btn"><a
            href="index.html">home</a></button>
        <button type="button" class="mid_btn_white"><a href="specimen.html">FAQ</a></button>
        <button type="button" class="mid_btn_dark"><a href="indiegogo.html">indiegogo</a></button>
        <button type="button" class="mid_btn_white"><a>github</a></button>
        <button type="button" class="right_btn"><a>downloads</a></button>
        </div>
    </div>
</div>

<!-- END MENU -->