* {
    font-family:'oxygensansbook';
    color:#555;
}

.inset {
    padding: 10px 10px 10px 20px;
    margin-bottom: 14px;
    font-size: 120%;
    line-height: 2.1428571435;
    color: #fff;
    background-color:#bac9ca;
    width:90%;
}

.container .inset {
    border-radius: 5px;
}

.readme {
    background-color:#fff;
}

.textbreak {
    border-style:solid;
    border-width:1px 0px 0px 0px;
    border-color:#ccc;
}
.left_btn {
    border:0;
    background:#fff;
    padding:3px 21px 3px 21px;
    margin:0px -2px 0px 0px;
    border-radius:5px 0px 0px 5px;
}

.mid_btn_white {
    border:0;
    background:#fff;
    padding:3px 21px 3px 21px;
    margin:0px -2px 0px 0px;
    
}

.mid_btn_dark {
    border:0;
    background:#555;
    padding:5px 21px 5px 21px;
    margin:0px -2px 0px 0px;
    
}

.right_btn {
    border:0;
    background:#fff;
    padding:3px 21px 3px 21px;
    margin:0px -2px 0px 0px;
    border-radius:0px 5px 5px 0px;
}

.lead-in {
    padding:13px 0px 0px 0px;
    font-size:1.3em;
}

p {
    font-family:'oxygensansbook';
    font-size:1em;
    line-height:1.5em;
}

.top_menu {
    margin-top:21px;
    margin-bottom:21px;
}

.top_menu li a {
    display:inline;
    font-family:'oxygensansbook';
    font-size:1em;
    color:#444;
    text-shadow: 0px 0px 6px #fff;
}

#backBox {
    position:absolute;
    z-index:-90;
}

.mainheader {
    /*background-color:#444343;*/
    background-color:#fff;
    color:#333;
    padding:8px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
}




#project_tagline {
    font-size: 1.6em;
    color: #5e6268;
    font-weight: 300;
}




#topnavbar a {  
    color: #cccccc;
}


.nailCenter {  
    text-align: center;
}

.copyright {
    font-size:0.8em;
}