{% include html_start.html %}
{% include top_menu.html %}

{% include header_masthead.html %}
{% include slider.html %}

{% include readme_start.html %}
{% include readme1.html %}
{% include textbreak.html %}
{% include readmeroadmap.html %}
{% include textbreak.html %}
{% include readme_specs.html %}
{% include textbreak.html %}

{% include readme_legibility.html %}
{% include textbreak.html %}
{% include readme_webfont.html %}
{% include textbreak.html %}
{% include readme_kde.html %}
{% include textbreak.html %}

{% include readme_gnu.html %}

{% include textbreak.html %}
{% include readme_download.html %}
{% include readme_end.html %}

{% include shadow_bot.html %}

{% include footer.html %}
<br><br>
{% include html_end.html %}
